.footer-Blue {
    background-color: rgb(61, 183, 196);
    padding: 10px;
    text-align: center;
    color: black;
}
.footer-Red {
    background-color: rgb(213, 52, 52);
    padding: 10px;
    text-align: center;
    color: black;
}
.footer-Green {
    background-color: rgb(63, 208, 34);
    padding: 10px;
    text-align: center;
    color: black;
}
